<div class="el-text">
  <div class="el-text__404 d-flex justify-content-center align-items-center">
    <span class="el-text__text first">4</span>
    <div class="el-text__moon">

      <div class="el-text__moon-circle">
        <div class="el-text__moon-wrapper">
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
        </div>
        <div class="el-text__moon-wrapper second">
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
          <span class="el-text__moon-whole"></span>
        </div>
      </div>

    </div>
    <span class="el-text__text second">4</span>
  </div>
</div>
