.informations{
  color: #fff;
  text-align: center;

  @media (min-width: 425px) {
    font-size: 20px;
  }

  &__btn{
    background: #68e3e9;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    padding: 1px 16px;

    @media (min-width: 425px) {
      font-size: 17px;
    }
  }
}
