<div class="chat-icon" #icon>
  <div class="chat-icon__container">
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="36.528" viewBox="0 0 46 36.528">
      <path id="Combined_Shape" data-name="Combined Shape" d="M21.211,35.422,17,27H29l-4.211,8.422a2,2,0,0,1-3.577,0ZM5,27a5,5,0,0,1-5-5V5A5,5,0,0,1,5,0H41a5,5,0,0,1,5,5V22a5,5,0,0,1-5,5Z" fill="#E9E9E7"/>
    </svg>
    <div class="chat-icon__dots  d-flex justify-content-between">
      <div class="chat-icon__dot first rounded-circle"></div>
      <div class="chat-icon__dot second ml-1 mr-1 rounded-circle"></div>
      <div class="chat-icon__dot third rounded-circle"></div>
    </div>
  </div>

  <div class="icon__message animation">chat</div>
</div>
