.chat-icon{
  position: relative;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .7s all;

  &__dots{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%)
  }

  &__dot{
    width: 6px;
    height: 6px;
    background-color: white;
    position: relative;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-property: left, opacity;
    transition-duration: .23s;
    left: 0;
    opacity: 1;
  }

  &.active{
    svg{
      path{
        fill: #51e1c2;
      }
    }
  }

  &.animate{
    .chat-icon{
      &__container{
        transform: rotate(15deg);
        transform-origin: center;
      }
    }

    .chat-icon{
      &__dot{
        opacity: 0;
        left: 20px;
        &.first{
          transition-delay: .46s;
        }

        &.second{
          transition-delay: .23s;
        }
      }
    }
  }
}
