<div class="d-flex justify-content-center align-items-center bottom-bar flex-nowrap">
  <div class="bottom-bar__bar">
    <div class="d-flex justify-content-between align-items-center bottom-bar__icon-list">
      <app-email class="pointer" (click)="selectedIcon = 'email'" [active]="selectedIcon === 'email'"></app-email>
      <app-team class="pointer" (click)="selectedIcon = 'team'" [active]="selectedIcon === 'team'"></app-team>
      <app-chat class="pointer" (click)="selectedIcon = 'chat'" [active]="selectedIcon === 'chat'"></app-chat>
      <app-menu class="pointer" (click)="selectedIcon = 'menu'" [active]="selectedIcon === 'menu'"></app-menu>
      <!-- <app-menu (click)="selectedIcon = 'menu'" [active]="selectedIcon === 'menu'"></app-menu> -->
    </div>
    <div class="bottom-bar__nav-bar ml-auto mr-auto"></div>

    <div class="authors-links">
        <a class="source-link" href="https://www.uplabs.com/posts/tab-bar-micro-interaction" target="_blank" rel="noopener noreferrer">Uplabs</a>

        <a class="source-link author" href="https://twitter.com/enmiemc" target="_blank" rel="noopener noreferrer">@enmiemc</a>
    </div>
  </div>
</div>
