.marvel-loader{
  min-height: calc(100vh - 56px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 992px) {
    min-height: 100vh;
  }

  .wrapper{
    transform: scale(1.8);
  }
}

.character{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;

  &-container{
      width: 150px;
      height: 150px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
      overflow: hidden;
  }

  svg{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }

  &.enter{
      z-index: 2;
  }

  &.captain{
      background-color: #c7e7fb;
      bottom: -150px;
      &.enter{
          transition: 1s ease-in-out bottom;
          bottom: 0;
      }
      &.out{
          transition: 1s ease-in-out bottom;
          bottom: 0;
      }
  }

  &.wolwerine{
      background-color: #fdd201;
      left: -150px;
      &.enter{
          transition: 1s ease-in-out left;
          left: 0;
      }
      &.out{
          transition: 1s ease-in-out left;
          left: 0;
      }
  }

  &.spiderman{
      background-color: #e25530;
      top: -150px;
      &.enter{
          transition: 1s ease-in-out top;
          top: 0;
      }
      &.out{
          transition: 1s ease-in-out top;
          top: 0;
      }
  }

  &.ironman{
      background-color: #fa4222;
      right: -150px;
      &.enter{
          transition: 1s ease-in-out right;
          right: 0;
      }
      &.out{
          transition: 1s ease-in-out right;
          right: 0;
      }
  }
}

.character svg{
  width: 100px;
  height: 100px;
}
.spiderman{
  display: flex;
  justify-content: center;
}
.spiderman svg{
  width: 60px;
  height: 60px;
}
