.desktop-menu{
  @media (min-width: 992px) {
    display: block !important;
  }
}

.mobile-menu{
  position: relative;
  z-index: 999;
  margin: -25px -20px;
  @media (min-width: 992px) {
    display: none !important;
  }
}
.app-menu{
  &__list{
    display: none;
    list-style: none;
    padding-left: 0px;
    position: relative;
    z-index: 9999;
  }

  &__item{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -5px;
      left: calc(-100% - 25px);
      width: 100%;
      height: 1px;
      background: #fff;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1000ms;
    }

    &:hover{
      &:after{
        left: -50%;
      }
      a{
        padding-left: 20px;
      }
    }
  }

  &__link{
    padding-left: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    display: inline-block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 4000ms;

    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}
