<nav class="bd-links app-menu__list desktop-menu bg-dark">
  <li *ngFor="let route of routes">
    <div class="bd-toc-item app-menu__item mb-4">
      <a routerLink="/{{route.path}}" class="bd-toc-link app-menu__link">{{ route.name }}</a>
    </div>
  </li>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mobile-menu">
  <a class="navbar-brand" routerLink="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuAnimations" aria-controls="menuAnimations"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse mt-3 pt-1 collapse" id="menuAnimations">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mb-3" *ngFor="let route of routes">
          <a routerLink="/{{route.path}}" class="bd-toc-link app-menu__link pl-0">{{ route.name }}</a>
      </li>
    </ul>
  </div>
</nav>
