@font-face {
    font-family: 'BentonSans';
    src: url('./BentonSans-Bold.woff2') format('woff2'),
        url('./BentonSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans';
    src: url('./BentonSans-Medium.woff2') format('woff2'),
        url('./BentonSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

